<%= provide(:title, 'Flights') %>
<%= form_tag '/flights', method: "get" do %>
  
  <p>
    <%= select_tag :from_airport, options_for_select(@airport_options, params[:from_airport]), prompt: "From:" %>
  </p>

  <p>
    <%= select_tag :to_airport, options_for_select(@airport_options, params[:to_airport]), prompt: "To:" %>
  </p>

  <p>
    <%= select_tag :start_time, options_for_select(@date_options, params[:start_time]), prompt: "Date:" %>
  </p>

  <p>
    <%= select_tag :passengers,options_for_select((1..4), params[:passengers]), prompt: "Passengers"  %>
  </p>

  <%= submit_tag "Search", name: nil %>
<% end %>


  <%= form_tag new_booking_path, method: "get" do  %>
    <% @flights.each do |f| %>
      <tr>
        <td><%= radio_button_tag :flight_id, f.id %></td>
        <td><%= f.id %></td>
        <td><%= f.from_airport.code %></td>
        <td><%= f.to_airport.code %></td>
      </tr>
    <% end %>
    <%= hidden_field_tag :passengers, params[:passengers] %>
    <%= submit_tag "Select Flight", :name => nil, class: "button" %>
     <!--  <p><%#= collection_radio_buttons(:booking, :flight_id, @flights, :id, :flight_description) %></p> -->
  <% end %>
  <%#= button_to "Select This Flight", new_booking_path, class: "button", method: :get %>

