<%= provide(:title, 'Flights') %>
<%= form_tag '/flights', method: "get" do %>
  
  <p>
    <%= select_tag :from_airport, options_for_select(@airport_options, params[:from_airport]), prompt: "From:" %>
  </p>

  <p>
    <%= select_tag :to_airport, options_for_select(@airport_options, params[:to_airport]), prompt: "To:" %>
  </p>

  <p>
    <%= select_tag :start_time, options_for_select(@date_options, params[:start_time]), prompt: "Date:" %>
  </p>

  <p>
    <%= select_tag :passengers,options_for_select((1..4), params[:passengers]), prompt: "Passengers"  %>
  </p>

  <%= submit_tag "Search", name: nil %>
<% end %>

<% if @flights.present? %>
  <%= form_tag new_booking_path do  %>
  <%= hidden_field(:passenger, :count, value: params[:passengers]) %>
    <%#= form_for :booking, url: new_booking_path, method: :get do |booking| %>
      <p><%= collection_radio_buttons(:booking, :flight_id, @flights, :id, :flight_description) %></p>
  <% end %>
<% end %> 
