<%= provide(:title, 'Flights') %>
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Bobbitt Tours</h3>

          <ul class="nav masthead-nav">
            <li class="active">
              <%= link_to "Home", root_path %>
            </li>

            <li>
              <%= link_to "Log In", '#' %>
            </li>

            <li>
              <%= link_to "Sign up", '#' %>
            </li>
          </ul>
        </div>
      </div>
      <div class="inner cover">
        <h1 class="cover-heading">Where would you like to go?</h1>
          <%= render 'search' %>
      </div>
        <div class="row">
          <% if @flights.present? %>
            <%= render 'search_results' %>
          <% end %>  
        </div>
    </div>
  </div>
</div>