<%= form_for @booking do |b| %>
  <% i = 1 %>
  <div class="container-fluid">
    <%= b.fields_for :passengers do |p| %>
      
      <h3>Passenger <%= i %></h3>
        <div class="field">
          <%= p.label :name %>
          <%= p.text_field :name %>

          <%= p.label :email %>
          <%= p.email_field :email %>
        </div>
      <%#= p.hidden_field :flight_id, value: params[:flight_id] %>
      <% i += 1 %>
    <% end %>
    <%= hidden_field_tag :flight_id, params[:flight_id] %>
    <%= b.submit "Create Booking", class: "button btn-lg btn-info" %>
    </div>
<% end %>