<%= provide(:title, 'New Booking') %>
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Cover</h3>

          <ul class="nav masthead-nav">
            <li class="active">
              <%= link_to "Home", root_path %>
            </li>

            <li>
              <%= link_to "Log In", '#' %>
            </li>

            <li>
              <%= link_to "Sign up", '#' %>
            </li>
          </ul>
        </div>
      </div>
      <div class="inner cover">
        <h1 class="cover-heading">Flight Details:</h1>
          <%= render 'new_booking' %>
      </div>
        <div class="row">
          <%= render 'passengers' %>
        </div>
    </div>
  </div>
</div>



